.homecol {
  float: left;
  width: 50%;
}
.homerow:after {
  content: "";
  display: table;
  clear: both;
}
.actions_header
{
  min-width:230px;
}
.options_header
{
  max-width:150px;
  min-width:130px;
}
.descriptor
{
  border-bottom:1px solid black;
}
.rightb
{
border-right: 1px solid black;
}
